/* Підключення шрифтів */
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);

/* Обнулення */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	min-width: 20rem;
	line-height: 1;
}
a {
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
button {
	line-height: inherit;
	font-weight: inherit;
	font-size: inherit;
	cursor: pointer;
	color: inherit;
	background-color: transparent;
}

/* Стилі за замовченням */
body {
	font-family: Rubik;
	font-size: 0.875rem;
	font-weight: 400;
	color: #646d70;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

/* Налаштування адаптиву */
[class*="__container"] {
	max-width: 52.5rem; /* Обмежуючий + відступи */
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}

/* Модулі */
.title {
	font-family: Merriweather;
	font-weight: 900;
	font-size: 1.875rem;
	line-height: 130%;
	color: #fff;
}
.title--dark {
	color: #222f33;
}
.text {
	line-height: 185%;
}
.text p:not(:last-child) {
	margin-bottom: 0.9375rem;
}

@media (max-width: 47.9988em) {
	.title {
		font-size: 1.5rem;
	}
}

/* Загальні стилі */
.page {
	flex: 1 1 auto;
}
.page__main {
}
.page__materials {
}

/* Основні стилі */
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.3s;
}
.header.scroll::before {
	opacity: 1;
}
.header__container {
	position: relative;
	z-index: 2;
	display: flex;
	gap: 1.25rem;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.3125rem;
	padding-top: 0.3125rem;
	min-height: 6.5625rem;
}
.header__logo {
	overflow: hidden;
}
.header__logo img {
	width: 8.4375rem;
}
.header__body {
	display: flex;
	align-items: center;
	column-gap: 2.6875rem;
}
.header__menu {
}
.header__button {
	padding: 0.625rem 1.3125rem;
	background-color: #fff;
	border-radius: 0.25rem;
	transition: all 0.3s;
}
.header__button:hover {
	background-color: #333;
	color: #fff;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 2.5rem;
	row-gap: 0.625rem;
	color: #fff;
	font-size: 0.75rem;
	font-weight: 500;
}
.menu__item {
}
.menu__link {
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 39.0625em) {
	.header__logo {
		flex: 0 0 2.0625rem;
	}
	.header__container {
		min-height: 4.375rem;
	}
	.header__body {
		column-gap: 1.25rem;
	}
	.header__button {
		padding: 0.625rem 0.9375rem;
	}
	.menu__list {
		column-gap: 1.25rem;
		font-size: 0.875rem;
	}
}

/* Головна секція */
.main-section {
	min-height: 100vh;
	position: relative;
	display: flex;
}
.main-section__container {
	padding-top: 5.625rem;
	padding-bottom: 3.125rem;
	position: relative;
	z-index: 2;
	flex: 1 1 auto;
	display: grid;
	align-items: center;
	grid-template-columns: 54.320988% 1fr;
	gap: 1.25rem;
}
@media (max-width: 43.75em) {
	.main-section__container {
		grid-template-columns: auto;
		align-content: center;
	}
}
.main-section__content {
}
.main-section__label {
	font-size: 1rem;
	font-weight: 500;
	color: #fff;
}
.main-section__label:not(:last-child){
	margin-bottom: 0.75rem;
}
.main-section__title {
}
.main-section__video-link {
	justify-self: center;
	display: flex;
	align-items: center;
	gap: 0.625rem;
	color: #fff;
	font-size: 0.75rem;
	font-weight: 500;
}
@media (min-width: 43.75em) {
	.main-section__video-link {
		justify-self: center;
	}
}
.main-section__video-link::before {
	content: '';
	width: 2rem;
	height: 2rem;
	flex: 0 0 2rem;
	border-radius: 50%;
	background: url("../img/main/btnPlay.svg") 0 0 no-repeat;
}
.main-section__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
}
.main-section__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
@media (max-width: 43.75em) {
	.main-section__image img {
		opacity: 0.6;
	}
}

/* Секція Матеріали */

.swiper {
	overflow: hidden;
}
.swiper-initialized {
	touch-action: pan-y;
}
.swiper-wrapper {
	display: flex;
	box-sizing: border-box;
}
.swiper-slide {
	flex-shrink: 0;
}

.materials {
	position: relative;
	z-index: 2;
}
.materials__container {
	position: relative;
	padding-bottom: 1.25rem;
	z-index: 2;
	display: grid;
	grid-template-columns: 50% minmax(17.5rem, 20.3125rem);
	justify-content: space-between;
	align-items: start;
	gap: 1.25rem;
}
.materials__contenet {
	padding-top: 1.5625rem;
	display: grid;
	gap: 0.8125rem;
	justify-items: start;
}
.materials__title {
}
.materials__text {
}
.materials__more {
	border-radius: 0.25rem;
	font-size: 0.75rem;
	font-weight: 500;
	padding: 0.625rem 0.875rem;
	border: 1px solid #646d70;
}
.materials__slider {
	transform: translate(0, -20.765027%); /* 76/366 */
}
.slider-materials {
	position: relative;
}
.slider-materials__wrapper {
}
.slider-materials__slide {
	aspect-ratio: 325 / 366;
	position: relative;
}
.slider-materials__slide img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.slider-materials__pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.3125rem 1rem 0.3125rem;
	flex-wrap: wrap;
	gap: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.slider-materials__pagination .swiper-pagination-bullet {
	flex: 0 0 0.5rem;
	height: 0.5rem;
	background-color: #fff;
	opacity: 0.4;
	border-radius: 50%;
	cursor: pointer;
	transition: opacity 0.3s;
}
.slider-materials__pagination .swiper-pagination-bullet-active {
	opacity: 1;
}
@media (min-width: 47.9988em){
	.materials::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 61.7%;
		height: 2.3125rem;
		background-color: #fff;
		transform: translate(0px, -100%);
	}
	.materials::after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		height: 8.75rem;
		background-color: #222f33;
		width: 38.3%; /* 383/1000 */
	}
}
@media (max-width: 47.9988em){
	.materials__container {
		grid-template-columns: auto;
	}
	.materials__slider {
		transform: translate(0, 0);
	}
}

/* Секція Іновації */
.inovate {
	background-color: #222f33;
	padding: 4.375rem 0px 5rem 0px;
}
.inovate__container {
}
.inovate__title {
}
.inovate__title:not(:last-child){
	margin-bottom: 0.5rem;
}
.inovate__text {
	color: #fff;
	columns: 2 15.625rem;
	gap: 2.6875rem;
}
@media (max-width: 47.9988em){
	.inovate {
		padding: 1.875rem 0px;
	}
}

/* Секція з інформацією */
.info {
	padding-top: 5.3125rem;
	padding-bottom: 5.3125rem;
}
.info__container {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	column-gap: 4.6875rem;
	row-gap: 1.875rem;
}
.info__image {
	text-align: center;
}
.info__image img {
	max-width: 100%;
}
.info__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3.75rem;
	row-gap: 2.3125rem;
}
.info__item {
}
.info__title {
	font-family: Merriweather;
	font-weight: 900;
	color: #222f33;
	font-size: 1.125rem;
}
.info__title:not(:last-child) {
	margin-bottom: 0.25rem;
}
.info__text {
	font-size: 0.75rem;
}
@media (max-width: 52.5rem) {
	.info__container {
		column-gap: 1.5625rem;
	}
	.info__content {
		column-gap: 1.25rem;
	}
}
@media (max-width: 47.9988rem) {
	.info {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
	.info__container {
		grid-template-columns: auto;
	}
	.info__content {
		order: 1;
	}
	.info__image {
		order: 2;
	}
}

/* Footer */
.footer {
	background-color: #222f33;
	padding-top: 2.0625rem;
	padding-bottom: 2.0625rem;
}
.footer__container {
	color: #fff;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	align-items: center;
	column-gap: 0.9375rem;
	row-gap: 1.25rem;
}
.footer__mail {
	font-size: 0.75rem;
	font-weight: 500;
}
.footer__mail:hover {
	text-decoration: underline;
}
.footer__logo {
	justify-self: center;
}
.footer__menu {
}
.menu-footer {
	display: flex;
	align-items: center;
	gap: 1.875rem;
	justify-self: end;
}
.menu-footer__item {
}
.menu-footer__link {
	font-size: 0.75rem;
	font-weight: 500;
}
.menu-footer__link:hover {
	text-decoration: underline;
}
@media (max-width: 37.5em) {
	.footer__container {
		grid-template-columns: auto;
		justify-content: center;
	}
}